{% extends "base.html" %} {% block title %}Blog Feed{% endblock %}

{% block content %}
<h1 align="center">{% block header %} Posts {% endblock %}</h1>

<div id="posts">
    {% for post in journal %}
    <div class="card board-dark">
        <div class="card-header d-flex justify-content-between align-iterms-center" >
            <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>
            {% if user.id == post.author %}
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle"data-bs-toggle="dropdown">   
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a></li>
                    <li><a href="/post/edit/{{post.id}}" class="dropdown-item">Edit</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="card-body">
            {% if post.image_name %}
            <img src="{{ url_for('static', filename='images/' + post.image_name)}}" width="320">
            {% endif %}

            {% if post.video_name %}
            <video width="320" height="240" controls>
                <source src="{{ url_for('static', filename='video/' + post.video_name)}}" type="video/mp4">
            </video>
            {% endif %}

            {% if post.audio_name %}
            <audio controls="controls" src="{{ url_for('static', filename='audio/' + post.audio_name)}}"></audio>
            {% endif %}
            <div class="card-text">{{post.text}}</div>
        </div>
        <div class="card-footer text-muted">{{post.date_created}}</div>
    </div>
    <br/> 
    {% endfor %}
</div>
<br/>
{% block script %} {% endblock %}
{% block footer %}
<div align="center">
    <a href="/CreatePost"
    ><button type="button" class="btn btn-primary btn-lg">
        Create a Post
    </button></a>
</div>
{% endblock %} {% endblock %}
